<!DOCTYPE html>


<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <script type='text/javascript' src="vendor.js"></script>
    <link rel="stylesheet" type="text/css" href="vendor.css">
    <script src="main.min.js"></script>
    <link rel="stylesheet" href="main.min.css">


</head>
<body>
    <div ng-app="myApp" ng-controller="stockChartController" class='container'>
        <div class="btn-group axisButtons">
            <button type="button" class="btn btn-primary" ng-click='showYield()'>Show Yield</button>
            <button type="button" class="btn btn-primary" ng-click='showSpread()'>Show Spread</button>
            <button type="button" class="btn btn-primary" ng-click='showPrice()'>Show Price</button>
        </div>
        <div class="btn-group timeFrameButtons">
            <button type="button" class="btn btn-default" ng-click='changeRange("week")'>Week</button>
            <button type="button" class="btn btn-default" ng-click='changeRange("month")'>Month</button>
            <button type="button" class="btn btn-default" ng-click='changeRange("quarter")'>Quarter</button>
            <button type="button" class="btn btn-default" ng-click='changeRange("year")'>Year</button>
            <button type="button" class="btn btn-default" ng-click='changeRange("max")'>Max</button>
        </div>
        <br />
        <line-chart chart-data="chartData"></line-chart>
    </div>
</body>

</html>
