
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.axis text {
    fill: #ffffff;
}

body{
    padding: 25px 0 0 0;
    background: #36363F;
}

.axisButtons{
    margin-bottom: 20px;
}

.container{
    width:650px;
}